* {
    margin: 0;
}
body{
background-color: #000;
}
.calculator {
    margin: 3% auto;
    width: 24%;
    text-align: center;
    align-items: center;
    padding: 35px 25px;
    border-radius: 50px;
    background-color: #1C1C1C;
}
input{
    background-color: transparent;
    border: 0;
    text-align: right;
    font-size: 60px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:40px 0 50px 0;
    font-weight: 100;
    width: 25rem;
    color: #fff;
    outline: none;
    height: 50px;
    margin-left: -30px;
}
input::placeholder{
    color: #fff;
}

.row-2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    margin-left: -5px;
}
.col-1 h2, .col-2 h2,.col-3 h2{
    color: #000;
    font-size: 2em;
}
.col-1, .col-2,.col-3{
    background-color:#D4D4D2;
    color: #000;
}
.col-4,.col-8,.col-12,.col-16,.col-19{
    background-color:#FF9500;
    margin-left: 10px;
    }
 button {
    border-radius: 50%;
    border: 0;
    background-color: #505050;
    cursor: pointer;
    font-size: 2em;
    color: #fff;
    font-weight: 500;
    width: 80px;
    height: 80px;
}
.button-17{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: left;
    width: 200px;
    border-radius: 50px;
    height: 90px;
    padding-left: 30px;
}

@media (min-width: 320px) and (max-width:350px ){
    body{
        background-color:#1C1C1C;
    }
    .calculator{
        width: 100%;
        border-radius: 3px;
        padding: 35px 25px;
        margin: 0;
    }
    .row-2{
        grid-row-gap: 25px;
        margin-left: -10px;
    }
    input{
        font-size: 5em;
    }
    button{
        width: 100px;
        height: 100px;
    }
    .button-17{
        width: 220px;
        height: 100px;
    }
    input{
        padding:60px 0px 70px 40px;
    }
}
@media (min-width: 350px) and (max-width:475px ){
    .calculator{
        width: 100%; 
        margin: 0;
        border-radius: 3px;
    }
    .row-2{
        margin-left: -20px;
        gap: 7px;
    }
    input::placeholder{
        margin-left: 30px;
    }
}
@media (min-width: 475px) and (max-width: 768px) {
 .calculator{
    width: 80%;
    margin-top: 16%;
    padding: 35px 30px;
    
 }   
}